DISCORD_TOKEN=DISCORD_BOT_TOKEN
DISCORD_CHANNEL_ID=1484428018201133056
DISCORD_ADMIN_ROLE_ID=1484428861906223206
DISCORD_REJOIN_THREAD_ID=1488790320694165615
MC_START_CMD=java -jar server.jar --nogui
MC_VERSION=1.16.5
MC_AUTH=offline
MC_USERNAME=BridgeBot
MC_PORT=59514
MC_HOST=sagiri23.aternos.me
FEATURE_ANTI_AFK=true
FEATURE_DEATHS=true
FEATURE_JOIN_LEAVE=true
FEATURE_WHISPERS=true
FEATURE_BROADCASTS=true
FEATURE_REJOIN_CYCLE=true
REJOIN_CYCLE_MINUTES=5
FEATURE_AUTO_OFFLINE_ON_FALIX_VERIFY=true
